/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_self
 *= require_tree .
*/

/* Landscape phones and down*/
@media (max-width: 480px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 980px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 980px) and (max-width: 1200px) {
}

/* Large desktop */
@media (min-width: 1200px) {

}

body {
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(237,237,237); /* Old browsers */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 7%, rgba(137,209,221,1) 38%, rgba(0,190,224,1) 60%, rgba(0,132,155,1) 83%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,rgba(255,255,255,1)), color-stop(38%,rgba(137,209,221,1)), color-stop(60%,rgba(0,190,224,1)), color-stop(83%,rgba(0,132,155,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 7%,rgba(137,209,221,1) 38%,rgba(0,190,224,1) 60%,rgba(0,132,155,1) 83%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 7%,rgba(137,209,221,1) 38%,rgba(0,190,224,1) 60%,rgba(0,132,155,1) 83%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 7%,rgba(137,209,221,1) 38%,rgba(0,190,224,1) 60%,rgba(0,132,155,1) 83%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 7%,rgba(137,209,221,1) 38%,rgba(0,190,224,1) 60%,rgba(0,132,155,1) 83%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */    
  
}

.hero-unit {
  background: none;
}

.content {
  background: lightBlue;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
}

footer p {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px;
  margin-top: 0;
}

img {
  max-width: 100%;
}


.lema {
  text-align: center;
}

h1.lema {
  font-size: 45px;
}

.caption {
  text-align: center;
}



