<footer>
<hr>
  <p>
    <!--%= link_to(quienes_somos_path) do %-->
      <i class="icon-user"></i>
      <span>¿Quienes somos?</span>
    <!--% end %--> - &copy; <%= link_to "Hamekoz", root_path %> 2012</p>
</footer>
