<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Hamekoz</h1>
  <p>Pagina en construccion</p>
</div>
<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>¿Quienes somos?</h2>
     <p>Somos un grupo de profesionales de diversas disciplinas trabajando en equipo para generar los mejores resultados.</p>
<!--    <p><a href="#" class="btn">View details »</a></p>-->
  </div>
  <div class="span4">
    <h2>Servicios</h2>
     <p>Actualmente brindamos servicios de asesoria para migracion a Linux y Software Libre. Corrección y revision de textos. Diseño de arte conceputal. Consultoria legal.</p>
<!--    <p><a href="#" class="btn">View details »</a></p>-->
 </div>
  <div class="span4">
    <h2>Futuro</h2>
    <p>Proximante estaremos apliando el sitio para dar mas detalle sobre nuestros servicios y futuros productos. Por consultas envienos un mail a info@hamekoz.com.ar</p>
<!--    <p><a href="#" class="btn">View details »</a></p>-->
  </div>
</div>

